.table {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 300px;
    background-color: white;
    border-radius: 12px;
    position: absolute;
    left: 24px;
    bottom: 32px;
    z-index: 9999;
    padding: 16px;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.15), 0 2px 5px -3px rgba(0,0,0,.15);
}

.table_input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    border: solid 1px gray;
    height: 30px;
}

.table_div {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    border: solid 1px gray;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin: 5px 0;
}

.table_div__text {
    color: black;
    font-size: 23px;
}

.table_button {
    width: 10px;
    height: 10px;
    border-radius: 18px;
    border: solid 1px gray;
    background-color: #66def8;
}

.table_button:active {
    background-color: #a23982;
}